.banner {
    background: #152737;
    color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 110px;
}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

body {
    background: #ffffff;
}

.logo-section {
    padding-top: 0px;
    padding-bottom: 15px;
}

.logo-with-text {
    padding-left: 30px;
    padding-right: 30px;
}

.logo-section img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.description-text {
    text-align: justify;
    font-size: 1.1em;
}

.picture-section {
    padding-top: 30px;
    padding-bottom: 20px;
}

.picture-section img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-link {
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright-text {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.8em;
}

h1 a:link, h1 a:visited, h3 a:link, h3 a:visited {
    color: #ffffff;
    text-decoration: none;
}


